h1{
    color: red;
}


.blue{
    color:blue;
}

.yellow{
    color: yellow;
}


h3{
    font-size: 80px;   /* taille de la typo*/
    text-align: center; /* aligner le texte au centre */
}


p{
    background-color:pink);  /* couleur de fond texte rose*/
    color: black; /* couleur texte en noir */
    width:50%;  
    text-align: center;
    margin: auto;
}




